@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-content">
    <div class="welcome-text">
        <h1 class="welcome-title">Welcome</h1>
        <h2 class="welcome-subtitle">Eng. Ehab</h2>
        <div class="welcome-description">
            <p>Welcome to our modern CRUD application</p>
        </div>
    </div>
    <div class="floating-elements">
        <div class="floating-circle circle-1"></div>
        <div class="floating-circle circle-2"></div>
        <div class="floating-circle circle-3"></div>
        <div class="floating-square square-1"></div>
        <div class="floating-square square-2"></div>
    </div>
</div>
